doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Holy Theory
    body
        span!=navigation
        h1 Holy theory
        a(
            href="./all.html"
        ) All information
        br
        a(
            href="./languages.html"
        ) Languages statistics